<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "The Pathway Guest House", '#', id: "logo" %>
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to "Home",    root_path %></li>
            <li><%= link_to "Bookings",    booking_path %></li>
            <li><%= link_to "Rooms",    rooms_path %></li>
             <li><%= link_to "Breakfast",    breakfast_path %></li>
             <li><%= link_to "Directions",    directions_path %></li>
             <li><%= link_to "Guest Book",    guestbook_path %></li>
             <li><%= link_to "Guide / Whats On",    events_path %></li>
             <li><%= link_to "News", news_path %></li>
           </ul>
         </nav>
       </div>
     </div>
</header>
