<div class="span3">
 <div class="well sidebar-nav sidebar-nav-fixed">
    <div class="logo">
    <a href="#home">Afolique</a> 
    </div>
     <ul >
       <li><%= link_to "Home",    root_path %></li>
       <li><%= link_to "Bookings",    booking_path %></li>
       <li><%= link_to "Rooms",    rooms_path %></li>
       <li><%= link_to "Breakfast",    breakfast_path %></li>
       <li><%= link_to "Directions",    directions_path %></li>
       <li><%= link_to "Guest Book",    guestbook_path %></li>
       <li><%= link_to "Guide / Whats On",    events_path %></li>
     </ul>
	<div class="social">
	  <a href="#"><img src="img/facebook.png" alt=""></a>
	  <a href="#"><img src="img/twitter.png" alt=""></a>
	</div>
 </div>
</div>

